@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #E81E2C;
  --primary-dark: #c41824;
  --secondary: #68696D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #E81E2C;
  --color-primary-dark: #c41824;
  --color-secondary: #68696D;
}

body {
  background: var(--background);
  padding: 0;
  margin: 0;
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
/* @layer utilities {
  .container {
    @apply max-w-7xlxl mx-auto px-4 sm:px-6 lg:px-8;
  }
} */
/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}
